* {
  text-align: center;
  font-family: Inter;
  background-color: antiquewhite;
}

canvas {
  border: 2px solid #000000;
  width: 400px;
  height: 400px;
}

input,
button {
  font-size: 20px;
}

span {
  margin: 0px 80px;
}

button {
  background-color: white;
}

input {
  margin: 20px 0px;
}
